.contactContainer {
    margin: 12rem 0;
    margin-bottom: 4rem;
    padding: 2rem 0rem 4.5rem 0rem;
    border-radius: 8px;
}

.contactContent {
    margin-top: 3rem;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left {
    padding: 2rem 1rem 3rem 4rem;
    background-color: var(--oxfordBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left h2 {
    width: 80%;
    padding-bottom: 3rem;
    color: var(--white2);
}

.left h4 {
    color: var(--orange);
}

.heading {
    color: var(--white2);
}

.headingInfo {
    color: var(--white2);
    font-size: 1.6rem;
}

.addressContainer, 
.phoneContainer {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; 
}

.emailContainer {
    display: flex;
    align-items: center;
}

.addressWhiteSpace {
    white-space: nowrap;
    color: var(--white2);
}

.icon {
    font-size: 8rem;
    padding: 1rem;
    background-color: var(--blueCrayola);
    border-radius: 8px;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.icon:hover {
    background-color: var(--orange);
}

.right {
    height: 600px;
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.imageContainer {
    position: relative;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.picture {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media screen and (max-width: 850px) {
    .contactContent {
        grid-template-columns: 1fr;
    }

    .left {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .picture {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
    }
    
    .left h4, .left h2 {
        text-align: center;
        width: 100%;
    }

    .right {
        height: 400px;
    }
}

@media screen and (max-width: 360px) {
    .icon {
        font-size: 5rem;
    }

    .left h4 {
        font-size: 2rem;
    }

    .left h2 {
        font-size: 3rem;
    }

    .heading {
        font-size: 1.8rem;
    }

    .headingInfo {
        font-size: 1.4rem;
    }
}