.footerContainer{
    border-radius: 8px;
    border-radius: 8px;
    padding: 3rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    display: flex;
    padding-bottom: 2rem;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--white);
    position: relative;
    top: 100px;
    width: 90%;
}

.bottom {
    background-color: var(--oxfordBlue);
    padding: 3rem;
    padding-top: 18rem;
}

.footerContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
}

.containerOne {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.logoContainer {
    cursor: pointer;
    width: 130px;
    margin-bottom: 2rem;
}

.conOneDescription {
   font-size: 1.4rem;
   color: var(--white2);
   margin-bottom: 2rem;
   text-align: justify;
   hyphens: auto;
}

.iconContainerDisFlex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.title {
   color: var(--white2); 
   margin-bottom: 1rem;
   font-size: 1.7rem;
   cursor: pointer;
   transition: all 0.25s ease-in;
}

.title:hover {
    color: var(--orange);
}

.menuItem {
    color: var(--white2);
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.copyRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-top: 1px solid var(--white2);
}

.copyRight small {
    color: var(--white2);
    text-align: center;
    padding: 0.5rem;
}

@media screen and (max-width: 850px) {
    .footerContent {
        grid-template-columns: repeat(3, 1fr);     
    }
    
    .containerOne {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .top {
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .footerContent {
        gap: 1rem
    }
}