@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --orange: #ff531a;
  --purp: #d092f7;
  --blue: #0062ff;
  --lavender: #d2dafe;
  --oxfordBlue: #050e38;
  --lightGray: #cccccc;
  --sonicSilver: #787878;
  --blueCrayola: #0d6dfd;
  --blueCrayola2: #b5c9e8;
  --lightBlue: #f2f3f7;
  --lightFontColor: #4f4367;
  --white: rgb(249, 245, 240);
  --white2: rgb(244, 237, 230);
}

* {
  font-family: 'Poppins',
  sans-serif;
  margin: 0;
  padding: 0;
  color: var(--oxfordBlue);
  box-sizing: border-box;
  text-decoration: none;
  /* line-height: 1.8; */
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input {
  font-weight: 400;
}

li {
  list-style: none;
}

span, a {
  display: block;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

/* ::selection {
  color: var(--light);
  background: var(--accent3);
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--orange);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blueCrayola);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

/* testimonials section */

.section {
  margin: 5rem auto;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.sectionCenter {
  margin: 0 auto;
  /* margin-top: 4rem; */
  width: 80vw;
  height: 600px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: var(--white2);
  border-radius: 8px;
}

.personImage {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid var(--light-gray);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.text {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--lightFontColor);
}

.icon {
  font-size: 5rem;
  margin-top: 1rem;
  color: var(--orange);
}

.imgbtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prev,
.next {
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.25s ease-in;
  margin-top: 3rem;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }

  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

@media screen and (max-width: 490px) {
  .personImage {
    width: 150px;
    height: 150px;
  }
}