.heroContainer {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5rem;
}
.heroLeft {
    flex: 1;
}

.heroRight {
    flex: 1;
}

.introText {
    font-weight: 300;
    color: var(--blue);
    margin-bottom: 1.5rem;
    white-space: nowrap;
}
    
.heading {
    margin-bottom: 2.5rem

}

.res {
    white-space: nowrap;
}

.description {
    width: 80%;
    margin-bottom: 3.5rem;
    text-align: justify;
    word-break: break-all;
}

.btnContainer {
 display: flex;
 width: 100%;
 gap: 4rem;
}

.ellipseContainer {
    width: 375px;
    height: 375px;
    position: absolute;
    border-radius: 50%;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
}

.ellipse.thick {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: transparent;
    top: 12px;
    left: 12px;
}

.ellipse.blueCrayola {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: var(--blueCrayola) transparent;
    top: 12px;
    left: 12px;
    animation: ellipseRotate 10s ease-in-out infinite;
}

@keyframes ellipseRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@media screen and (max-width: 900px) {
    .heroContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }

    .heroLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btnContainer {
        align-items: center;
        justify-content: center;
    }

    .heroRight{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ellipseContainer {
        position: relative;
        bottom: 10rem;
    }
}

/* @media screen and (max-width: 800px) {
    .heroContainer {
        flex-direction: column;
    }
} */