.container {
    z-index: 1;
    z-index: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
}

@media screen and (max-width: 568px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

