.homeContainer {
    height: 100vh;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    margin-top: 3.4rem;
    /* width: 50%; */
}

.content h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.name{
    color: var(--oxfordBlue);
    text-transform: uppercase;
}

.comapnyName {
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--blueCrayola);
}

.description {
    color: var(--lightFontColor);
    line-height: 1.9;
    text-align: justify;
    hyphens: auto;
    margin-top: 3rem;
    
}

.buttonContainer {
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
}


.image {
    /* width: 70%; */
    min-height: 35rem;
    min-width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test {
    border-radius: 50%;
    background-color: var(--blueCrayola2);
}

@media screen and (max-width: 940px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image {
        padding-top: 5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content h1 {
        text-align: center;
    }

    .description {
        width: 80%;
    }
}