.header {
    z-index: 999;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    z-index: 999;
}

.navbarLogo {
    cursor: pointer;
}



.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;
    white-space: nowrap;
    z-index: 999;
}

.navItem {
    margin-left: 5rem;
}

.navItem a {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    transition: none;
}

/* hover affects */

.navItem a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--red-orange-color-wheel);
    transition: width 0.25s ease-out
}

.navItem a:hover::before {
    width: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--red-orange-color-wheel);
}

@media screen and (max-width: 768px) {
    .navMenu {
        position: fixed;
        left: -100%;
        top: 1px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 10px 30px -5px hsla(0, 0%, 0%, 0.25);
        transition: 0.3s;
        border: 2px solid red;
        border-radius: 8px;
        background-color: transparent;
        color: blue;
        backdrop-filter: blur(4px);
    }

    .navItem a:hover::before {
        width: 0;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu a {
        background-color: transparent;
        padding: .5rem 3rem;
        border: solid 2px var(--accent2);
        background-color: var(--accent2);
        color: var(--dark);
        border-radius: 5px;
        transition: all .2s ease-in;
        transition: none;
    }

    .navMenu a:hover {
        background-color: var(--dark);
        color: var(--accent2);
    }

    .navItem {
        margin: 2.5rem 0;
        background-color: transparent;
        transition: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
        
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
        }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
        }
}