.header {
    z-index: 999;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px -5px hsla(0, 0%, 0%, 0.03);
    z-index: 999;
}

.navbarLogo {
    cursor: pointer;
    position: relative;
    top: 8px;
    width: 80px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;
    white-space: nowrap;
    z-index: 999;
}

.navItem {
    margin-left: 2rem;
}

.navItem a {
    display: inline-block;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    transition: none;
    color: var(--oxfordBlue);
}

/* hover affects */

.navItem a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--orange);
    transition: width 0.25s ease-out
}

.navItem a:hover::before {
    width: 100%;
}

.contactBtnMBL {
    display: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 900px) {
    .navItem {
        margin-left: .5rem;
    }
}

@media screen and (max-width: 935px) {
    .navItem {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 940px) {
    .navMenu {
        position: fixed;
        top: 14rem;
        right: -100%;
        flex-direction: column;
        width: 85%;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 10px 30px -5px hsla(0, 0%, 0%, 0.25);
        padding: 2rem;
        transition: 0.3s;
        border-radius: 8px;
        background-color: white;
    }

    
    .navMenu.active {
        animation: openMenu 0.5s ease forwards;
        right: 7.5%;
    }

    @keyframes openMenu {
        0% {
            opacity: 0;
            transform: scale(0.8);
        }
         50% {
             transform: scale(1.1);
         }

         100% {
             opacity: 1;
             transform: scale(1);
         }
    }

    .navItem a {
        color: var(--oxfordBlue);
        font-weight: 800;
        font-size: 2rem;
    }

    .navItem a:hover {
        background-color: var(--dark);
        color: var(--accent2);
    }

    .navItem {
        margin: 2rem;
        background-color: transparent;
        transition: none;
    }

    .contactBtnDT {
        display: none;
    }

    .contactBtnMBL {
        display: block;
        margin-top: 1rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: var(--orange);
        border-radius: 8px;
        padding: 10px;
    }

    
        
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
        }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
        }
}

@media screen and (max-width: 480px) {
    .navbarLogo {
        width: 70px;
    }
}