.ellipseContainer {
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
}

.ellipse.thin {
    width: 96%;
    height: 96%;
    border: 1px solid #494949;
    border-radius: 50%;
    opacity: .5;
    top: 4px;
    left: 4px;
}

.ellipse.thick {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #fff;
    top: 12px;
    left: 12px;
}
.ellipse.yellow {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #FFEB00 transparent;
    top: 12px;
    left: 12px;
    animation: ellipseRotate 10s ease-in-out infinite;
}

@keyframes ellipseRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

