.btn {
    position: relative;
    font-size: var(--fs-6);
    font-weight: 500;
    border-radius: 8px;
    color: white;
    padding: 15px 45px;
    text-transform: uppercase;
    overflow: hidden;
    background: var(--oxfordBlue);
}

.buttonText {
    position: relative;
    color: white !important;
    font-weight: 2rem;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    z-index: 5;
}

.btn .square {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: 0.25s all ease-in-out;
}

.btn:hover .square {
    left: -2px;
    width: 102%;
    height: 102%;
}

.btn .square {
    background: var(--orange);
}

@media screen and (max-width: 490px) {
    .btn {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}